@utility btn {
  @apply inline-flex items-center px-4 py-2 border-none rounded-md font-bold text-xs uppercase tracking-widest outline-hidden transition ease-in-out duration-300 focus:shadow-none cursor-pointer;

  &:disabled {
    @apply pointer-events-none opacity-80;
  }
}

@utility btn-sm {
  @apply px-2 py-1;
}

@utility btn-primary {
  @apply bg-gray-200 dark:bg-slate-300 text-gray-800 hover:bg-gray-300 dark:hover:bg-slate-100 focus:bg-gray-300 dark:focus:bg-slate-200 active:bg-gray-300 dark:active:bg-slate-200 hover:text-gray-800 disabled:text-gray-800;
}

@utility btn-danger {
  @apply bg-red-400 text-white hover:bg-red-500 focus:bg-red-500 active:bg-red-600;
}

@utility btn-light {
  @apply bg-slate-300 dark:bg-slate-600 text-gray-700 dark:text-slate-100 hover:bg-slate-200 dark:hover:bg-slate-500 focus:bg-slate-200 dark:focus:bg-slate-500;

  &.active {
    @apply bg-slate-200 dark:bg-slate-500;
  }
}

@utility active {
  &.btn-light {
    @apply bg-slate-200 dark:bg-slate-500;
  }
}
