@utility table {
  @apply w-full text-sm text-left dark:border-slate-500;

  & thead tr {
    @apply text-xs text-gray-700 uppercase bg-gray-100 dark:bg-slate-700 dark:text-slate-400;
  }

  & td {
    @apply p-3 border-b dark:border-slate-500;
  }

  & th {
    @apply p-3 border-b dark:border-slate-500;
  }

  & tbody tr {
    @apply dark:border-slate-500;
  }
}

@utility table-hover {
  & tbody tr {
    @apply hover:bg-gray-50 dark:hover:bg-slate-600;
  }
}

@utility table-bordered {
  @apply border-t border-l;

  & th {
    @apply border-r;
  }

  & td {
    @apply border-r;
  }
}

@utility table-borderless {
  @apply border-none;

  & th {
    @apply border-none;
  }

  & td {
    @apply border-none;
  }
}

@utility table-sm {
  & td {
    @apply p-2;
  }

  & th {
    @apply p-2;
  }
}

@utility table-condensed {
  & tr :first-child {
    @apply pl-0;
  }

  & tr :last-child {
    @apply pr-0;
  }
}
